---
import "../css/style.css";
import "../css/general.css";
<<<<<<< HEAD
import CardHelsingoer from "../components/CardHelsingoer.astro";
=======
>>>>>>> dfd282340b11c14368c6e66fd063d6c70f23b412
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="hero_background">
      <h1 class="hero">KULTURNATTEN I <br />HELSINGØR</h1>
      <button></button>
    </div>
    <button></button>
    <h1>PROGRAM</h1>
    <button></button>
    <CardHelsingoer title="HELSINGØR" />
  </body>
</html>
