---
import "../css/style.css";
import "../css/general.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="hero_background">
      <h1 class="hero">KULTURNATTEN I <br />HELSINGØR</h1>
      <button></button>
    </div>
    <button></button>
    <h1>PROGRAM</h1>
    <button></button>
  </body>
</html>
