---
const { title } = Astro.props;
---

<article class="by">
  <img src="/src/assets/svg/helsingør.svg" alt="by_svg" class="vector" />
  <br />
  <br />
  <h3>{title}</h3>
</article>

<style>
  .by {
    width: 183px;
    height: auto;
    border: 2px solid #222;
    background-color: #fefbf3;
    box-shadow: 10px 10px 0px 0px var(--light-blue);
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }

  h3 {
    letter-spacing: 4px;
    text-align: center;
    font-size: 19px;
  }

  .vector {
    max-width: 300px;
    padding: 10px;
  }
</style>
