---
const { title } = Astro.props;
---

<article class="by">
  <img src="/src/assets/svg/helsingør.svg" alt="by_svg" class="vector" />
  <br />
  <br />
  <h3>{title}</h3>
</article>

<style>
  .by {
    width: 357px;
    height: 429px;
    border: 3px solid #222;
    background-color: #fefbf3;
    box-shadow: 22px 22px 0px 0px var(--light-blue);
    padding-top: 91px;
    padding-left: 22px;
  }

  .vector {
    align-items: center;
  }
</style>
