/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

/***** COLOR VARIABLES *****/

/* material-theme */
* {
  /* color */
  --black: #000000;
  --blue: #224bd1;
  --light-blue: #aebdec;
  --dark-grey: #222222;
  --beige: #fefbf3;
  --white: #ffffff;
}

/* gradient*/

* {
  --gradient: var(
    linear-gradient(
      180deg,
      #001c79 0%,
      #042592 13%,
      #224bd1 25.25%,
      #4b6cd3 33.5%,
      #90a6ea 50%,
      #d6dcf1 63.5%,
      #eeebe9 81%,
      #f7f1eb 87%,
      #fefbf3 100%
    )
  );
}

/*************** Generel CSS *********************/

* {
  /* color */
  --black: #000000;
  --blue: #224bd1;
  --dark-grey: #222222;
  --light-beige: #fefbf3;
  --white: #ffffff;
}

body {
  background-color: var(--light-beige);
}

.hero_background {
  background-color: var(--gradient, linear-gradient);
}

.hero {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: var(--light-beige);
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  color: var(--blue);
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  padding: 30px 10px 10px 10px;
  color: var(--white);
}

p {
  font-family: "Inter Tight", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--lightergrey);
}

nav {
  padding: 10px 30px;
  text-align: center;
}

button {
  background-color: var(--darkgrey);
  color: var(--lightgrey);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
}

button.navigation {
  color: var(--white);
  font-weight: 300;
  border-radius: 30px;
  padding: 10px 20px;
}

button.navigation:hover {
  background-color: var(--white);
  color: var(--darkgrey);
}
