/***** COLOR VARIABLES *****/
/* material-theme */
:root {
  /* Light */
  /* color */
  --black: #000000;
  --blue: #224bd1;
  --color: #224bd1;
  --dark-grey: #222222;
  --light-beige: #fefbf3;
  --white: #ffffff;
}
