/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

/*************** Generel CSS *********************/

* {
  /* color */
  --black: #000000;
  --blue: #224bd1;
  --light-blue: #aebdec;
  --dark-grey: #222222;
  --beige: #fefbf3;
  --white: #ffffff;
}

/* gradient*/

:root {
  --gradient: linear-gradient(
    180deg,
    #001c79 0%,
    #042592 13%,
    #224bd1 25.25%,
    #4b6cd3 33.5%,
    #90a6ea 50%,
    #d6dcf1 63.5%,
    #eeebe9 81%,
    #f7f1eb 90%,
    #fefbf3 100%
  );
}

body {
  background-color: #fefbf3;
}

.hero_background {
  background: var(--gradient);
  height: 100vh; /* Gør div'en fuld højde */
  width: 100%; /* Fylder hele bredden */
}

header {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 63px;
  color: var(--beige);
  padding-top: 400px;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 63px;
  color: var(--blue);
  text-align: center;
}

h1.darkgrey {
  color: var(--dark-grey);
}

h1.beige {
  color: var(--beige);
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 130px;
  color: var(--blue);
}

h2.darkgrey {
  color: var(--dark-grey);
}

h2.beige {
  color: var(--beige);
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: var(--black);
}

h3.beige {
  color: var(--beige);
}

p {
  font-family: "Inter Tight", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--lightergrey);
}

p.beige {
  color: var(--beige);
}

p.blue {
  color: var(--blue);
}
